.face {
  fill: gold;
}

.mouth {
  fill: none;
  stroke: #000;
  stroke-width: 6px;
  stroke-linecap: round;
}

.left-eyebrow {
  transform: rotate(80deg);
  transform-orgin: 100px 82px;
}

.right-eyebrow {
  transform: rotate(100deg);
  transform-orgin: 156px 82px;
}
